.bottomLinecontainer {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 20px;
  position: relative;
}
.storyHolder {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  position: relative;
}
.storyHolder > div {
  position: relative;
}
.bottomLinecontainer::after,
.storyHolder > div::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 0;
  right: 0;
  bottom: -10px;
  background-color: var(--gray-light);
}
.btnMore {
  border: 1px solid var(--gray-small);
  padding: 2px 20px;
  border-radius: 2px;
  background-color: var(--white);
  color: var(--blue);
  font-family: Shurjo;
  font-size: 16px;
}
.center {
  text-align: center;
}
/* TAB */
@media (min-width: 876px) {
  .storyHolder > div:last-child::after {
    content: none;
  }
}
/* Mobile */
@media (max-width: 875px) {
  .bottomLinecontainer {
    grid-template-columns: 1fr;
  }
  .btnMore {
    width: 100%;
  }
  .bottomLinecontainer::after {
    all: unset;
  }
}
