.entertainContainer {
  display: grid;
  grid-gap: 20px;
  margin-bottom: 20px;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.leftColumn {
  display: grid;
  grid-gap: 20px;
  position: relative;
}
.middleColumn {
  position: relative;
}
.middleColumn:before {
  content: "";
  left: -10px;
  width: 1px;
  top: 0;
  bottom: 0;
  background: var(--gray-light);
  position: absolute;
}

.middleColumn:after {
  content: "";
  right: -10px;
  width: 1px;
  top: 0;
  bottom: 0;
  background: var(--gray-light);
  position: absolute;
}
.rightColumn {
  display: grid;
  grid-gap: 20px;
  position: relative;
}
.leftImageStory {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: relative;
  grid-gap: 10px;
}

.leftImageStory + .leftImageStory::before {
  content: "";
  top: -10px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--gray-light);
  position: absolute;
}
.entertainContainer::after {
  content: "";
  height: 1px;
  bottom: -10px;
  left: 0;
  right: 0;
  background: var(--gray-light);
  position: absolute;
}
/* TAB */
@media (min-width: 876px) and (max-width: 1263px) {
  .entertainContainer {
    grid-template-columns: 1fr 2fr 1fr;
  }
  .imageHide {
    display: none;
  }
  .leftImageStory {
    grid-template-columns: 1fr;
  }
}
/* MObile */
@media (max-width: 875px) {
  .entertainContainer {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .leftColumn .leftImageStory {
    grid-template-columns: 2fr 1fr;
  }
  .rightColumn .leftImageStory {
    grid-template-columns: 1fr;
  }
  .leftColumn {
    order: 1;
  }
  .middleColumn {
    order: 0;
  }
  .section-time {
    display: none;
  }
  .rightColumn {
    order: 2;
  }
  .leftColumn::after,
  .middleColumn:after {
    content: "";
    position: absolute;
    right: 0;
    background: #e2e2e2;
    height: 1px;
    bottom: 0;
    width: 100%;
    top: auto;
  }
  .middleColumn:before {
    all: unset;
  }
  .rightColumn .imageHide {
    display: none;
  }
}
