:root {
  --blue: #007bff;
  --navy: #000080;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #ffffff;
  --black: #000000;
  --gray: #6c757d;
  --gray-light: rgba(0, 0, 0, 0.1);
  --gray-small: #bfbfbf;
  --gray-dark: #343a40;
  --text-color: #121212;
}
.App {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  text-align: left;
  font-family: Shurjo, Arial, Helvetica, sans-serif;
  background: var(--white);
  overflow: hidden;
}
.wrapper {
  /* width: 100%; */
  padding-right: 15px;
  padding-left: 15px;
  margin: 5px auto;
  text-align: left;
}
a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
  overflow: hidden;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.image-ratio {
  position: relative;
  display: block;
}
.image-ratio:before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
  background: var(--gray-small);
}
.image-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-pad15 {
  padding-bottom: 15%;
}
.image-pad20 {
  padding-bottom: 20%;
}
.image-pad30 {
  padding-bottom: 30%;
}
.image-pad45 {
  padding-bottom: 45%;
}
section {
  font-size: 20px;
  margin: 10px 16px 16px 0;
  position: relative;
  display: inline-block;
  padding: 4px;
}
.container {
  margin: 20px auto;
  display: inline-block;
  overflow: hidden;
}
.title-large {
  font-size: 22px;
  font-weight: bold;
}
.title-midiam {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.title-lead {
  font-size: 26px;
  font-weight: bold;
}
.lead-subtitle {
  font-size: 20px;
  font-weight: bold;
  color: var(--navy);
}
.news-headline {
  font-size: 18px;
  font-weight: bold;
}
.headline {
  font-size: 18px;
}
.photo-title {
  font-weight: bold;
  display: flex;
  flex-direction: row;
}
.photo-title svg {
  font-size: 24px;
  margin-right: 10px;
}
.font-l {
  font-size: 22px;
}
.font-m {
  font-size: 20px;
}
.font-s {
  font-size: 18px;
}
.excerpt {
  color: var(--gray-dark);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.section-time {
  padding-top: 10px;
  color: var(--gray-small);
  font-size: 14px;
}
.caption {
  color: var(--gray);
  font-size: 14px;
}
.relativePos {
  position: relative;
}
.news-number {
  color: var(--gray-small);
  font-size: 34px;
}
.underline-gray {
  height: 2px;
  background-color: var(--gray-small);
  width: 40px;
  margin-bottom: 15px;
}
.underline-navy {
  height: 2px;
  background-color: var(--navy);
  width: 40px;
  margin-bottom: 15px;
}
.navy {
  color: var(--navy);
}
.orange {
  color: var(--orange);
}
select + i.fa {
  float: right;
  margin-top: -23px;
  margin-right: 5px;
  pointer-events: none;
  position: relative;
  background-color: #fff;
  padding-right: 5px;
  color: #bfbfbf;
  font-size: 14px;
}
h2 {
  margin: 5px 0;
}
article {
  display: block;
  font-size: 1.3em;
  margin-block-start: 1em;
  margin-block-end: 0.3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
article::after {
  /* font-family: "Font Awesome 5 Free";
  content: "\f054"; */
  content: ">";
  color: var(--orange);
  margin-left: 10px;
  font-weight: bold;
}

.padding-r {
  padding-right: 10px;
}
.padding-b {
  padding-bottom: 10px;
}
/*tab content*/
.tab-container {
  margin: 0 auto;
}
.tabs {
  border-bottom: 1px solid var(--gray-small);
  width: 100%;
}
.tab-container ul.tabs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.tab-container ul.tabs li {
  background: none;
  color: var(--gray);
  display: inline-block;
  margin: 10px 15px 0 15px;
  cursor: pointer;
  padding-right: 0;
}
.tab-container ul.tabs li:first-child {
  margin: 10px 15px 0 0;
}
.tab-container ul.tabs li.current {
  color: var(--text-color);
  border-bottom: 2px solid var(--orange);
  margin-bottom: -1px;
}
.tab-content {
  display: none;
  padding-top: 15px;
}
.tab-content.current {
  display: inherit;
}

/* Desktop */
@media (min-width: 1264px) {
  .wrapper {
    max-width: 1264px;
  }
}
/* Tab */
@media (min-width: 876px) and (max-width: 1263px) {
  .wrapper {
    max-width: 1024px;
  }
  .caption-hide,
  .excerpt-hide,
  .container1-last {
    display: none;
  }
  .image-tabpad20 {
    padding-bottom: 20%;
  }
}
/* MObile */
@media (max-width: 875px) {
  .wrapper {
    max-width: 768px;
  }
  .imageLeftToRight {
    grid-column: 2/3;
    grid-row: 1;
  }
  .caption-hide,
  .section-time,
  .excerpt-hide,
  .imageHide {
    display: none;
  }
  .image-ratio {
    max-width: 100%;
  }
  .image-mobipad {
    padding-bottom: 75%;
  }
}
